<div class="card card-body">
  <h3>Add a Member</h3>
    <form action="/mychurch/allmembers" method="post" autocomplete="off">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name"> Full Name</label>
          <input type="text" class="form-control" name="name" placeholder="Full Name" required>
        </div>
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" placeholder="Email" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="gender">Gender</label>
          <select class="form-control" name="gender" required>
          <option value="" disabled selected hidden>Select Gender</option>
          <option value="Female" >Female</option>
          <option value="Male" >Male</option>
        </select>
        </div>
      <div class="form-group col-md-6">
        <label for="telephone">Telephone</label>
        <input type="Number" class="form-control" name="telephone" placeholder="Telephone" required>
        </div>
      </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="memberNo">Membership Number</label>
        <input type="text" class="form-control" name="memberNo" placeholder="Member Number" required>
      </div>
      <div class="form-group col-md-6">
        <label for="HFG">Home Fellowship Group</label>
        <select name="HFG" class="form-control" required>
          <option value="" disabled selected hidden>Select HFG</option>
          <option value="posta" >Posta</option>
          <option value="Syokanthi">Syokanthi</option>
          <option value="Syokanthi">Kikambala</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" name="address" placeholder="Posta Mtwapa, along Mombasa-Malindi highway" required>
    </div>

   <div class="form-group">
    <label for="ministries">Ministries (Ctr + click to select more than one)</label>
    <select multiple class="form-control" name="ministries" required>
      <option>Eves Ministry</option>
      <option>Youth & Teens</option>
      <option>Choir</option>
      <option>Marrieds</option>
      <option>Ushering</option>
    </select>
  </div>
    <div class="form-group">
      <button type="submit" class="btn btn-info">
        <i class="fa fa-database"></i>
        Submit
      </button>
      <a href="/mychurch/allmembers" class="btn btn-danger">
        <i class="fa fa-list-alt"></i>
        View All
      </a>

    </div>
  </form>
</div>
