<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Welcome to myChurch App. Simplifying Ministry.</p>
  <a href="/mychurch/user/login" class="href btn btn-dark btn-lg bm-2">Login</a><br>
  <a href="/mychurch/user/register">Not Registered?</a>
</div>
