<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Welcome to myChurch App. Simplifying Ministry!</p>
  <a href="/user/login" class="href btn btn-dark btn-lg">Login</a>
</div>
